table.title {
  width: 100%;
}

table.upload_list, table.members_table, table.registered_file_table {
    width: 60%;
}


table {
  border-collapse: collapse;
}

table td {
}

tr.colored:nth-child(even){
  background-color:#FFFFFF;
}

tr.colored:nth-child(odd){
  background-color:#E8E8E8;
}

.colored {
}
