<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

<head>
    <title>Main</title>
</head>

<th:block th:replace="~{layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <h1>Callbacks</h1>
        <div th:each="file: ${files}">
            <li ><a th:href="${'/func/' + file}">[[${file}]]</a></li>
        </div>
        <h1>Classes</h1>
        <div th:each="info: ${infoes}">
            <li ><a th:href="${info}">[[${info}]]</a></li>
        </div>
    </th:block>
</th:block>
</html>