<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/table.css}" rel="stylesheet" />
<link th:href="@{/css/register.css}" rel="stylesheet" />
<link th:href="@{/css/update_common.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/update.js}"></script>

<head>
    <title>Make All</title>
</head>

<th:block th:replace="~{layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <div>
            <label style="font-size: 20px;">템플릿 위치</label>
            <input type="text" id="url"/>
            <label style="font-size: 20px;">시작 번호</label>
            <input type="text" id="start">
            <label style="font-size: 20px;">종료 번호</label>
            <input type="text" id="end">
        </div>
        <button type="button" id="instanceAddBtn"> 추가</button>
    </th:block>
</th:block>
</html>